body
{
    margin: 0px;
    padding: 0px;
}


.header
{
    width: 100%;
    background-color: #000000;
    margin: 0px;
    position: absolute;
  
}

.logo
{
    width: 25%;
    padding-left: 10%;
    float: left;
}

.menu
{
    list-style: none;
    padding-left: 25%;
    margin-top: 10%;
    

}

.li_1
{
    float: left;
    margin-left: 10%;
    font-size: 20px;

}

a 
{
    text-decoration: none;
    color: bisque;

}
a:hover
{
    font-size: 25px;
    color: aqua;
    border-color: aliceblue;
    border-width: 10px;
    
}

.banner_div
{
    width: 100%; 
    
}

.banner
{
    width: 100%;
    margin-top: 25%;
}

.description
{
    text-align: center;
    font-size: 25px;
    padding: 40% 5% 5% 5%;
    margin-top: 0px;
    line-height: 40px;
}

.footer
{
    width: 100%;
    background-color: #000000;
    position: absolute;
    
  
}
.contact 
{
    list-style: none;
    padding-bottom: 5%;
    padding-top: 5%;
    
}
.li_2 
{
    float: left;
    margin-left: 10%;
    font-size: 20px;
    text-align: center;
}
.rights
{
    color: bisque;
    text-align: center;
}

/* customer */

.table
{
    margin-top: 40%;
    position: absolute;
    border-color: brown;
    width: 100%;
    
    
}
table
{
    text-align: left;
    width: 100%;
    padding-left: 35%;
    font-size: larger;
    padding-bottom: 5%;
    
}
th
{
    line-height: 50px;
}

input
{
    padding-right: 150px;
    height: 20px;
    border-color: #000000;
   
}


.customer_details
{
    margin-top: 25%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: larger;
    
    
}
h1{
    background-color: #000000;
    color: bisque;
    margin-top: 50px;
   
    
}
hr
{
    padding-bottom: 25px;
    background-color: #000000;
    height: 1px;
    

}

.buttons
{
padding-left: 40%;
padding-bottom: 5%;
}
.li_4
{
    list-style: none;
    float: left;
    padding-left: 30px;
}
